    <!-- The Gifts Section -->
    <section id="gifts" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2>Gifts</h2>
            	<p>As our wedding day draws near
            	<br>We hope our sentiment is clear
            	<br>We need you there as we are wed
            	<br>To witness our love as vows are said
            	<p>But as for gifts, please, please don't try
            	<br>To find the ideal thing to buy
            	<br>We have no list of pots and pans
            	<br>Just hopes and dreams of honeymoon plans
            	<p>So if a gift is on your mind
            	<br>A contribution would be kind
            	<br>It will help us more than words can say
            	<br>To celebrate our special day
            	<p>
            	<p>Thank you.
                <div>
                    <img src="/img/orange-heart-sparkle.gif" alt="orange sparkling heart"/>
                    <img class="hidden-xs" src="/img/orange-heart-sparkle.gif" alt="orange sparkling heart"/>
                    <img class="hidden-xs hidden-sm" src="/img/orange-heart-sparkle.gif" alt="orange sparkling heart"/>
                </div>
            </div>
        </div>
    </section>
    