    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <h1 class="brand-heading">Lindsey and Dale's Wedding</h1>
                        <p class="intro-text">Lindsey and Dale are getting married, read all about it here.</p>
                        <div class="just-married">Just Married</div>
                        <a href="#thevenue" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
