    <!-- The On The Day Section -->
    <section id="ontheday" class="container content-section">
        <div class="row text-center">
            <div class="col-md-12 visible-xs-block visible-sm-block">
                <h2>On the day</h2>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-lg-8">
                <div class="text-center visible-md-block visible-lg-block">
                    <h2>On the day</h2>
                </div>
                <dl class="dl-horizontal">
                    <dt>2pm</dt>
                    <dd>Hotel is available for guests who are checking in</dd>
                    <dt>2.30pm</dt>
                    <dd>Coach departs <a href="http://www.peakparkpub.co.uk/">The Old Bowling Green</a>, <a href="http://winster.org">Winster</a> for day guests</dd>
                    <dt>4pm</dt>
                    <dd>The Wedding Ceremony</dd>
                    <dt>4.30pm</dt>
                    <dd>Drinks Reception, Canap&eacute;s &amp; Photos</dd>
                    <dt>6.30pm</dt>
                    <dd>The Wedding Breakfast</dd>
                    <dt>8pm</dt>
                    <dd>Coach departs <a href="http://www.peakparkpub.co.uk/">The Old Bowling Green</a>, <a href="http://winster.org">Winster</a> for evening guests</dd>
                    <dt>8.30pm</dt>
                    <dd>Speeches &amp; Toast</dd>
                    <dt>9pm</dt>
                    <dd>Coffee &amp; Petit Fours; Evening Guests arrive</dd>
                    <dt>9.30pm</dt>
                    <dd>First Dance / Cut Cake</dd>
                    <dt>10pm</dt>
                    <dd>Evening Sandwiches</dd>
                    <dt>12am</dt>
                    <dd>Bar closes for non-residents</dd>
                    <dt>12.15am</dt>
                    <dd>Coach departs the venue to take guests who are not staying overnight back to Winster</dd>
                </dl>        
            </div>
            <div class="col-lg-4">
                <img class="img-responsive center-block" style="max-width: 300px;" src="/img/orange-clock-3.gif" alt="orange clock"/>
            </div>
        </div>
    </section>
    
