    <!-- The Photos Section -->
    <section id="photos" class="container-fluid content-section text-center bg-photo">
        <div class="row">
            <div class="photo-col col-lg-6 col-lg-offset-3">
                <h2>Photos</h2>
                <p>We're using a private photo sharing web-site called <a href="https://cluster.co/">Cluster</a>
                to share photos of our wedding.  You can upload your photos directly from a smart phone using
                the <a href="https://itunes.apple.com/gb/app/cluster-privately-share-special/id596595032">Cluster App</a>
                or using the <a href="https://cluster.co/c/8XXkRfOLZHk">web-site</a>.</p>

                <p>You will need to create an account on <a href="https://cluster.co/">Cluster</a> in order to view or
                share photos from this group but sign-up is easy and free.</p>

                <p>If you haven't received an invite to the group by e-mail and would like to view or contribute then
                please click <a href="https://cluster.co/c/8XXkRfOLZHk">here</a>, create an account and request to join.</p>
            </div>
        </div>
    </section>
    