    <!-- The On The Day Section -->
    <section id="photography" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h2>Photography</h2>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <p>Please take lots of photos and share them with us on our <a href="/photos">Photos</a> page.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>We will have a photo printer at the Venue and would like you to print some selfies for our Wish Tree.  For the best print experience download the free app for your smart-phone.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://itunes.apple.com/gb/app/canon-print-inkjet-selphy/id664425773"><img src="/img/Apple_App_Store.jpg"/></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://play.google.com/store/apps/details?id=jp.co.canon.bsd.android.aepp.activity&hl=en_GB"><img src="/img/Google_Play_Store.png"/></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://apps.microsoft.com/windows/en-gb/app/canon-easy-photoprint/f65a50de-2362-44c3-a914-1e70ed41a0be"><img src="/img/WindowsStore_badge.png"/></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive center-block" src="/img/orange-tree.gif" alt="orange tree"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">            
                        <p>We've been asked by the registrar to make sure than no-one moves around to take photos during the Wedding Ceremony &ndash;
                        so we would appreciate your help with this.
                        <p>Also, please help our official photographers, Hannah &amp; Ben, from <a href="http://www.hbaphotography.com/">HBA Photography</a> by being careful about when you use your camera's flash and following any instructions they give.
                    </div>
                </div>
            </div>
        </div>
    </section>
