    <!-- The RSVP Section -->
    <section id="rsvp" class="container-fluid content-section text-center rsvp">
        <div class="row">
            <div class="rsvp-col col-lg-6 col-lg-offset-3">
                <p></p>
                <h2>RSVP</h2>
                <p>Please enter your name to fill in details for members of your family group</p>
                <p id="rsvp-unknown-invitee" class="bg-danger hidden">Sorry, I didn't find your name - please try another</p>
                <p id="rsvp-no-name" class="bg-warning hidden">Please enter your name to RSVP</p>
                <form id="rsvp-find-family-group" class="form-inline">
                    <div class="form-group">
                        <label for="givenName">First Name</label>
                        <input type="text" class="form-control" id="givenName" placeholder="John" data-bind="value: givenName">
                    </div>
                    <div class="form-group">
                        <label for="familyName">Family Name</label>
                        <input type="text" class="form-control" id="familyName" placeholder="Doe" data-bind="value: familyName">
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary" data-bind="click: submit">RSVP</button>
                    <p></p>
                </form>
            </div>
        </div>
   </section>
    