<!-- The RSVP Reply Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="/img/rsvp_sign-sm.png" alt="RSVP sign"/>
        </div>
    </div>
</div>
<section id="rsvp-reply" class="container-fluid content-section text-center rsvp-reply">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>RSVP for <span data-bind="text: familyName"></span></h2>

            <p><span class="family-message" data-bind="html: familyMessage"></span></p>

            <form class="form-group">
                <h3>Guests</h3>

                <p>Please let us know whether each member of your family group are able to attend and what type of
                    dinner/supper you each would like.</p>

                <div data-bind="foreach: guests">
                    <div class="guest">
                        <b class="guest-name" data-bind="text: name"></b>

                        <div class="form-group">
                            <select class="form-control" data-bind="options: attendChoices, 
                                                                    optionsValue: 'id',
                                                                    optionsText: 'label', 
                                                                    value: attendChoice"></select>
                            <select class="form-control" data-bind="options: dinnerChoices, 
                                                                    optionsValue: 'id',
                                                                    optionsText: 'label', 
                                                                    value: dinnerChoice, 
                                                                    visible: attendChoice()==='ACCEPT' || attendChoice()==='ACCEPT_EVENING'"></select>
                            <textarea class="form-control" data-bind="value: dinnerInfo, 
                                                                      visible: (attendChoice()==='ACCEPT' || attendChoice()==='ACCEPT_EVENING') && dinnerChoice()==='SPECIAL'"
                                      placeholder="Please provide details of your special dietary requirements"></textarea>
                        </div>
                    </div>
                </div>
                <div class="accommodation" data-bind="visible: attendingGuests().length > 0 && accommodation.allocatedRooms().length > 0">
                    <h3>Accommodation</h3>

                    <p>All the rooms at the hotel are exclusively available to The Wedding Party and Guests. We have
                        pre-allocated
                        rooms to those who are travelling from outside the district. Payment for the rooms will be
                        direct to the
                        hotel at checkout. Please let us know whether you would like to take up any allocated rooms, or
                        be added to
                        the waiting list for any rooms that become available.</p>

                    <div data-bind="foreach: accommodation.allocatedRooms">
                        <select class="form-control"
                                data-bind="options: availableOptions,
                                           optionsValue: 'id',
                                           optionsText: 'label',
                                           value: selectedOption"></select>
                    </div>
                </div>
                <p></p>
                <div class="transport" data-bind="visible: noAccommodation()">
                    <h3>Transport</h3>

                    <p>Coaches have been booked between the Old Bowling Green, Winster and the hotel to
                    bring both day and evening guests from the area to Losehill House and take everyone home at
                    the end of the night. Please let us know if you would like a place on the coaches so we can
                    get the right sized coach. A volunteer on the coach home will collect the cash and
                    pay the driver. If you're on the waiting list for accommodation we will take you off the
                    transport list if we're able to allocate you a place.</p>

                    <div data-bind="foreach: attendingGuests()">
                        <select class="form-control"
                                data-bind="options: transportChoices,
                                           optionsValue: 'id',
                                           optionsText: 'label',
                                           value: transportChoice"></select>
                    </div>
                </div>
                <p></p>
                <div class="reply-message">
                    <textarea class="form-control" data-bind="value: replyMessage"
                              placeholder="Personal message..."></textarea>
                </div>
                <p></p>
                <div class="form-group">
                    <p>
                        <button class="btn btn-primary btn-block" data-bind="click: rsvp">RSVP</button>
                    </p>
                    <p class="bg-success hidden">
                        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                        Thank you, your reply has been received.  If you need to provide
                        an updated response then you can re-submit at a later date.</p>
                    <p class="bg-warning hidden">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        I'm sorry, there's been a problem saving your response.  Please
                        try again later.</p>
                </div>
            </form>
        </div>
    </div>
</section>
    