    <!-- The Venue Section -->
    <section id="thevenue" class="container-fluid content-section text-center">
        <div class="row">
            <div class="col-md-12 visible-xs-block visible-sm-block">
                <h2>The Venue</h2>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-md-8">
                <img class="img-responsive" src="/img/losehill-spring-fields.jpg" alt="Losehill House seen across fields"/>
            </div>
            <div class="col-md-4">
                <div class="visible-md-block visible-lg-block">
                    <h2>The Venue</h2>
                </div>
                <p>The Wedding and Reception will be held at <a href="http://www.losehillhouse.co.uk/">Losehill House Hotel &amp; Spa</a> near
                Hope in the Peak District.
                <p>There are 23 rooms at the hotel and it is exclusively available for the wedding, so everyone who is travelling from outside the Peak District area should be able to stay.  There may be one or two additional rooms for those closer to home who also want to stay.  Please indicate on the <a href="/rsvp">RSVP</a> page whether you would like one of the rooms or <a class="page-scroll" href="#contact">contact us
                </a> if you have any questions.
                <p>See <a class="page-scroll" href="#gettingthere">below</a> for how to get there.
            </div>
        </div>
    </section>
    