.flip-clock-wrapper {

  display: flex;
  justify-content: center;
  margin: 0;

  .flip-clock-divider {
    .flip-clock-label {
      display: none;
    }
  }

  .flip-clock-divider {
    height: 45px;
    width: 8px;
  }

  .flip-clock-dot {
    width: 4px;
    height: 4px;
    left: 2px;
  }

  ul {
    margin: 1px;
    width: 25px;
    height: 40px;
    padding: 0px;

    li {
      line-height: 40px;

      a {
        div {
          div.inn {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 30px;
          }
        }
      }
    }
  }

  @media(min-width:375px) {
    .flip-clock-divider {
      height: 50px;
      width: 10px;
    }

    .flip-clock-dot {
      width: 5px;
      height: 5px;
      left: 2.5px;
    }

    ul {
      margin: 1px;
      width: 30px;
      height: 45px;

      li {
        line-height: 43px;

        a {
          div {
            div.inn {
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 35px;
            }
          }
        }
      }
    }
  }

  @media(min-width:767px) {
    .flip-clock-divider {
      height: 100px;
      width: 20px;
    }

    .flip-clock-dot {
      width: 10px;
      height: 10px;
      left: 5px;
    }

    ul {
      margin: 5px;
      width: 60px;
      height: 90px;

      li {
        line-height: 87px;

        a {
          div {
            div.inn {
              font-size: 70px;
            }
          }
        }
      }
    }
  }

}

@import '../bower_components/flipclock/compiled/flipclock.css';
