body {
    width: 100%;
    height: 100%;
    font-family: $main-font-stack;
    color: $primary-colour;
    font-size: 20px;
    background-color: #d8d8d8;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 10% 0 10%;
    margin: 10vh 0 10vh;
    font-family: $fancy-font-stack;  
    font-variant: common-ligatures;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $main-font-stack;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;

    @media(min-width:767px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $link-colour;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $hover-colour;
}

.light {
    font-weight: 400;
}

.content-section {
    padding-top: 100px;
}

.vertical-align {
    @media(min-width: 991px) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

img {
    margin-bottom: 35px;
}

.wf-loading h1, 
.wf-loading h2, 
.wf-loading h3, 
.wf-loading h4, 
.wf-loading h5, 
.wf-loading h6, 
.wf-loading p,
.wf-loading a,
.wf-loading label {
    font-family: $loading-font;
    visibility: hidden;
}

.wf-active h1, 
.wf-active h2, 
.wf-active h3, 
.wf-active h4, 
.wf-active h5, 
.wf-active h6, 
.wf-active p,
.wf-active a,
.wf-active label {
    visibility: visible;
}


.wf-inactive h1,
.wf-inactive h2,
.wf-inactive h3,
.wf-inactive h4,
.wf-inactive h5,
.wf-inactive h6,
.wf-inactive p,
.wf-inactive a,
.wf-inactive label {
    font-family: $fancy-font-stack;
    visibility: visible;
}
