$bootstrap-sass-asset-helper: false;
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$main-font-stack:   "freight-neo-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
$fancy-font-stack:  "grafolita-script","Helvetica Neue",Helvetica,Arial,sans-serif;
$loading-font:      sans-serif;

$primary-colour:    #f28500;
$link-colour:       #ffa62f;
$hover-colour:      #666362;

@import '_flipclock';

@import '_style';
@import '_navbar';
@import '_cover';
@import '_map';
@import '_footer';
